.navbar {
  width: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
              linear-gradient(135deg, rgba(0, 188, 212, 0.5), rgba(0, 188, 212, 0.3));
  background-blend-mode: overlay;
  height: 5rem;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.logo {
  object-fit: cover;
  height: 5rem;
  width: 6rem;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%; /* Make sure it takes up full width */
  justify-content: center; /* Center the menu items */
}

.desktopMenu {
  display: flex;
  gap: 3rem; /* Increase space between menu items */
  align-items: center;
}

.menuItem {
  color: white;
  text-decoration: none;
  font-size: 1.85rem; /* Increase font size */
  cursor: pointer;
  transition: color 0.3s ease, padding-bottom 0.3s ease, border-bottom 0.3s ease;
}

.menuItem:hover {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
}

.contactBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contactBtn:hover {
  background: #f39c12; /* Highlight color on hover */
  color: white;
}

.contactIcon {
  margin-right: 0.5rem; /* Space between icon and text */
}

.menuToggle {
  display: none; /* Hide menu toggle button on desktop */
}

.menuToggleIcon {
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .desktopMenu {
      display: none; /* Hide desktop menu in mobile view */
      flex-direction: column;
      width: 100%;
      background: rgba(0, 0, 0, 0.9);
      position: absolute;
      top: 5rem;
      left: 0;
      padding: 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
      transition: transform 0.3s ease-in-out;
      transform: translateY(-100%);
      justify-content: center; /* Center the menu items in mobile view */
  }

  .desktopMenu.open {
      display: flex;
      transform: translateY(0);
  }

  .menuToggle {
      display: block; /* Show menu toggle button in mobile view */
      background: none;
      border: none;
      color: white;
      cursor: pointer;
  }

  .menuItem {
      margin: 1rem 0; /* Space between menu items in mobile view */
      text-align: center;
      font-size: 1.5rem; /* Increase font size for mobile view */
  }
}
