.introSection {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  background: url('./computer-icon.svg') no-repeat center center;
  background-size: cover;
}

.introContent {
  text-align: center;
  z-index: 2;
  animation: fadeIn 2s ease-out;
}

.hello {
  font-size: 3rem;
  font-weight: 600;
  animation: slideIn 1s ease-out;
}

.introText {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0.5em 0;
  animation: slideIn 1.5s ease-out;
}

.introName {
  color: #00bcd4;
}

.typing {
  border-right: 2px solid #00bcd4;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

.introPara {
  margin: 20px 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

.btn {
  background: #00bcd4;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.3s ease, transform 0.3s ease;
  margin: 0 10px; /* Added margin for spacing between buttons */
}

.btn:hover {
  background: #018b8e;
  transform: scale(1.05);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px; /* Adds consistent space between buttons */
}

.socialLinks {
  margin-top: 20px;
  display: flex; /* Ensure icons are in a row */
  justify-content: center; /* Center the icons */
}

.socialLink {
  font-size: 4rem; /* Increase size for more impact */
  color: white;
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  margin: 0 15px; /* Spacing between icons */
  padding: 10px; /* Add padding to create space around the icon */
  border-radius: 50%; /* Create circular background */
  background: rgba(0, 0, 0, 0.2); /* Subtle background for contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
}

.socialLink:hover {
  color: #00bcd4;
  transform: scale(1.2); /* Larger scaling on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
  background: rgba(0, 0, 0, 0.4); /* Darker background on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #00bcd4;
  }
}

@keyframes animateBackground {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}
